* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    
}


/* Giris Kismi */

.entry-container {
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(media/background.jpg);
    
}


.navbar {
    display: flex;
    margin: auto;
    max-width: calc( 83.33333333333334% - 6rem );
    
}

.logo {
    display: flex;
    margin: 23px 0;
    margin-right: auto;
}

.logo-img {
    width: 9.25rem;
    height: 2.5rem;
}

.navbar div {
    align-self: center;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    
}

.language {
    background-color: rgba(17, 17, 17, 0.6);
    color:#fff;
    border: 1px solid #333;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 13px;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
    border-radius: 0.25rem;
}


.log-in {
    background-color: rgb(193,17,25);
    padding: 4px 16px;
    font-weight: 500;
    color: #fff;
    border: #000;
    border-radius: 0.25rem;
}













.entry-text-container {
    display: flex;
    height: 614px;
}




.entry-text {
    display: flex;
    flex-direction: column;
    max-width: calc( 83.33333333333334% - 6rem );
    margin: auto;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: white;
}

.entry-text h1 {
    font-size: 3rem;
    font-weight: 900;
    
}

.entry-text p {
    font-size: 24px;
    font-weight:bold;
    margin-top: 1rem;
}

.entry-text h3 {
    margin: 1.5rem 0 0;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding: 0 2rem;
}
.entry-text form {
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: end;
}

.email {
    width: 412px;
    height: 60px;
    font-size: 1rem;
    font-weight: 400;
    padding: 0px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-top: 18px;
    border: 1px solid #333;
    border-radius:5px;
    background-color: rgba(17, 17, 17, 0.6);
}

.email span {
    align-self: flex-start;
    margin-left: 15px;
    color: grey;
    margin-top: px;
    font-size: 13px;
}

.entry-text input {
    background-color:transparent;
    height: 24px;
    width:380px;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0;
    color: #fff;
    font-weight: bold;
}

.entry-text button {
    display: flex;
    margin-left: 0.5rem;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    height: 56px;
    padding: 0.75rem 1.5rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 5px;
    border-radius:5px;
}

#button-text {
    margin: 0;
}

.skip-track {
    width: 24px;
    justify-self: center;
    align-self: center;
}



/* Kartlar */


.cards {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.cards h2 {
    font-size: 2.25rem;
    font-weight: 900;
}
.cards p {
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: 1rem;
}

/* Kart icerigi */

.card {
    height: 38.3vw;
    width: 100%;
    display: flex;
    border-top: 9px solid #333;
    background-color: #000;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.card-content {
    display: flex;
    margin: 0 auto;
    padding: 72px 0;
    flex-wrap: nowrap;
    max-width: calc( 83.33333333333334% - 6rem );
}

.card-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin:0 6px;
    flex-basis: 50%;
}

.TV {
    position: relative;
    display: flex;
    flex-basis: 50%;
    justify-content: center;

}

.TV img {
    width: 100%;
    height: auto;
}

/* .video-right {
    position: absolute;
    align-self: center;
    justify-self: center;
    overflow: hidden;
} */

.PNG{
    position: relative;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

.PNG img {
    width: 100%;
    height: auto;
}


/* FAQ */

.FAQ-container {
    padding: 72px 0;
    border-top: 9px solid #333;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
}

.FAQ-container h2 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: #fff;
}

.FAQ {
    max-width: calc( 83.33333333333334% - 6rem );
}

.List {
    list-style: none;
  font-size: 1.5rem;
font-weight: 400;  
margin-top: 2rem;

}

.List li {
    margin-bottom:10px;
    background-color: #303030;
    display: flex;
    flex-direction: column;

}

label {
    width: 100%;
    padding: 26px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}

label::after {
    font-size: 50px;
    content: '+';
    position: absolute;
    right: 20px;
    top: 15px;
}

input[type=radio] {
    display: none;
}

.faq-content {
    display: flex;
    text-align: left;
    flex-direction: column;
    height: 0;
    overflow: hidden;
}
.faq-content p {
    margin-bottom: 1rem;
    height: auto;
}

input[type=radio]:checked + label + .faq-content {
   height: auto; 
   margin:1rem;
}

input[type=radio]:checked + label::after {
    content: 'X';
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 30px;
}

.FAQ-container:first-child {
    font-size: 3rem;
font-weight: 900;
line-height: 1.875rem;
margin-top: 50px;
}

.FAQ-container input {
    align-self: center;
    border: 0;
    background-color: transparent;
    height: 24px;
    width:380px;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0;
    color: #fff;
    font-weight: bold;
}

.FAQ-container h3 {
    font-weight: 400;
font-size: 1.25rem;
line-height: 1.875rem;
margin-top: 35px;
  text-align: center;
}

.FAQ-container form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FAQ-container button {
    display: flex;
    margin-left: 0.5rem;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    height: 56px;
    padding: 0.75rem 1.5rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 5px;
    border-radius:5px;
    margin-top: 20px;
}





/* FOOTER */


footer {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    color: #ccc;
    font-size: 14px;
    background-color: black;
    border-top: 9px solid #333;
}
   
a {
    color: #ccc;
}

.footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 60px 0;
    margin: auto;
    max-width: calc( 83.33333333333334% - 6rem );
}

.footer-content p {
    display: block;
    padding: 12px 0;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

.links a {
    padding-bottom: 15px;
    min-width: 200px;
}










/* RESPONSIVE - UNDER 1280PX WIDTH */

@media only screen and (max-width: 1280px){
    .navbar, .card-content, .FAQ, .footer-content, .entry-text  {
        max-width: calc(100% - 4rem);
    }

}

/* RESPONSIVE - UNDER 960PX WIDTH */


@media only screen and (max-width: 960px) {
  
    .card-content {
        justify-content: center;
    }

    #card2, #card4 {
        flex-direction: column-reverse;
    }

    #card1, #card3 {
        flex-direction: column;
    }

    .card-text {
        text-align: center;
    }

    .card-text h2 {
        font-size: 2rem !important;
font-weight: 700 !important;
    }

    .card-text p {
        margin: 1rem 0 0 !important;
       font-size: 1.125rem !important;
       font-weight: 400 !important;
    }
    
    .card {
        height: auto;

    }

    .entry-text-container {
        height: auto;
    }

    .entry-container {
        height: auto;
    }
    
    .entry-text {
        margin: 2rem auto;
    }
    


    .TV img {
        width: 80%;
        height: auto;
        
    }
    
    h1 {
        font-size: 2rem !important;
        font-weight: 700 !important;
    }

    .entry-text p {
        margin: 1rem 0 0 !important;
       font-size: 1.125rem !important;
       font-weight: 400 !important;
    }

    .entry-text h3 {
        font-weight: 400 !important;
font-size: 1rem !important;
line-height: 1.6875rem !important;
padding: 0 !important;
    }
    
    #button-text {
        margin-top: 0 !important;
    }

}

/* RESPONSIVE - UNDER 635PX WIDTH */


@media only screen and (max-width: 635px) {
    
    form {
        flex-direction: column;
    }

    .email {
        width: 85vw;
    }

    .entry-text form {
        align-items: center;
    }

    .email input {
        width: 80vw !important  ;
    }

    form button {
        margin: 20px 0 !important;
        
    }

   #turkce {
    display: none;
   }

   .FAQ-container h2 {
    font-size: 2rem;
    
   }

   label, .FAQ p {
    font-size: 1rem !important;
   }

   




    
    
}




